/* --- Déclaration des polices personnalisées --- */
@font-face {
  font-family: 'Roseritta';
  src: url('../fonts/Roseritta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('../fonts/Comic\ Sans\ MS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.collage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* empêche l'interaction avec les images */
  z-index: -1; /* derrière le reste */
}

.scrap-photo, .scrap-tape {
  position: absolute;
  max-width: 350px;
  transform: rotate(-2deg);
  opacity: 0.95;
}

.scrap-photo {
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  max-width: 350px;
}

.scrap-tape {
  width: 60px;
  transform: rotate(5deg);
  opacity: 1;
}

@media (max-width: 768px) {
  .collage {
    display: none;
  }
}