/* --- Déclaration des polices personnalisées --- */
@font-face {
  font-family: 'Roseritta';
  src: url('../fonts/Roseritta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('../fonts/Comic\ Sans\ MS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.collage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* empêche l'interaction avec les images */
  z-index: -1; /* derrière le reste */
}

.scrap-photo, .scrap-tape {
  position: absolute;
  max-width: 350px;
  transform: rotate(-2deg);
  opacity: 0.95;
}

.scrap-photo {
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  max-width: 350px;
}

.scrap-tape {
  width: 60px;
  transform: rotate(5deg);
  opacity: 1;
}

@media (max-width: 768px) {
  .collage {
    display: none;
  }
}

.patch {
  max-width: 350px;
  margin: 0 auto; /* centre horizontalement en tant que bloc */
  transform: rotate(-3deg);
  text-align: center;
  padding-bottom: 2rem; /* espace avec le bas de la page si nécessaire */
  padding-top: 2rem;
}

.notebook-icon {
  width: 45px;
  height: auto;
}

@media (max-width: 768px) {
  .notebook-icon {
    width: 35px;
  }
}

@media (max-width: 480px) {
  .notebook-icon {
    width: 28px;
  }
}

.scrapbook-title {
  font-size: 2.25rem; /* taille constante */
}

@media (max-width: 640px) {
  .scrapbook-title {
    font-size: 2rem;
  }
}